name: release
on:
  push:
    branches: [ master, beta ]

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.18.0
      
      - name: install dependency
        run: npm install
        
      - name: lerna bootstrap
        run: npm run bootstrap
        
      - name: build
        run: npm run build
        
      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@master
        with:
          publish: npx changeset publish
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SEMANTIC_RELEASE_PACKAGE: ${{ secrets.GH_TOKEN }}
